.venv/

.env

.DS_Store

flask-backend/aimodels/food/food_classifier_model.keras

flask-backend/static/uploads

*.py[cod]
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/

*.egg-info/